.contenedor{
  width: 100%;
  height: calc(var(--spacing) * 30);
  border-top-width: 1px;
  border-color: var(--border);
}
svg{
  width: 25px;
  height: 25px;
  color: var(--muted-foreground);
}
p{
  font-size: var(--font-size-xs);
  color: var(--muted-foreground);
}
@media (max-width: 420px) {
  .contenedor{
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}
