:host{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
}
.content-footer-links{
    display: flex;
}
.content-footer-links a svg{
width: 100%;
max-width: 25px;
min-width: 15px;
}
