.content-app-mishabilidades {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.content-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.text-skills {
  background-color: var(--card-foreground);
  color: var(--secondary-foreground);
  border-radius: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-top: 4px;
  font-weight: 600;
}
/* Responsive */

@media (max-width: 1720px) {
}

@media (max-width: 1120px) {
}

@media (max-width: 720px) {
}

@media (max-width: 420px) {
}
