<div class="content-app-mishabilidades">
  <h3>
    Mis Habilidades
  </h3>
  <div class="content-skills">
      <p class="text-skills" (click)="enviarTechApp($event)">Angular</p>
      <p class="text-skills" (click)="enviarTechApp($event)">Node.js</p>
      <p class="text-skills" (click)="enviarTechApp($event)">Express.js</p>
      <p class="text-skills" (click)="enviarTechApp($event)">TypeScript</p>
      <p class="text-skills" (click)="enviarTechApp($event)">JavaScript</p>
      <p class="text-skills" (click)="enviarTechApp($event)">TailwindCSS</p>
      <p class="text-skills" (click)="enviarTechApp($event)">Bootstrap</p>
      <p class="text-skills" (click)="enviarTechApp($event)">MySQL</p>
      <p class="text-skills" (click)="enviarTechApp($event)">PHP</p>
  </div>
</div>
