<div class="content-app-mishabilidades">
  <h4>
    Mis Habilidades
  </h4>
  <div class="content-skills">
      <p class="text-skills">Angular</p>
      <p class="text-skills">Node.js</p>
      <p class="text-skills">Express.js</p>
      <p class="text-skills">TypeScript</p>
      <p class="text-skills">JavaScript</p>
      <p class="text-skills">TailwindCSS</p>
      <p class="text-skills">Bootstrap</p>
      <p class="text-skills">MySQL</p>
      <p class="text-skills">PHP</p>
  </div>
</div>
