.content-app-mishabilidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.75rem;
}
.content-app-mishabilidades h3{
  padding-left: 0.50rem;
}
.content-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1.45rem;
  padding-left: 1.25rem;
}
.text-skills {
  background-color: var(--card-foreground);
  color: var(--secondary-foreground);
  border-radius: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-top: 4px;
  font-weight: 600;
  cursor: pointer;
}
#container-tech-description{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive */

@media (max-width: 1120px) {
  .content-app-mishabilidades{
    align-items: center;
  }
  .content-app-mishabilidades h3{
  padding-left: 0;
}
  .content-skills{
    justify-content: center;
    padding-left: 0;
  }
}

