<div class="flex flex-col gap-2 space-y-2">
  <h3>
    Mis Habilidades
  </h3>
  <div class="flex flex-wrap gap-2">
      <p class="bg-secundary text-skills">Angular</p>
      <p class="bg-secundary text-skills">Node.js</p>
      <p class="bg-secundary text-skills">Express.js</p>
      <p class="bg-secundary text-skills">TypeScript</p>
      <p class="bg-secundary text-skills">JavaScript</p>
      <p class="bg-secundary text-skills">TailwindCSS</p>
      <p class="bg-secundary text-skills">Bootstrap</p>
      <p class="bg-secundary text-skills">MySQL</p>
  </div>
</div>
