.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
  max-width: 440px;
  min-width: 300px;
  height: 460px;
  background-color: var(--card-foreground);
  border-radius: 12px;
  box-shadow: 0 1px 8px rgb(187, 187, 187);
}
.content-img {
  max-width: 440px;
}
.content-img img {
  width: 100%;
  height: 300px;
  max-height: 200px;
  object-fit: fill;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

/* Responsive */
@media (max-width: 1820px) {
  .cards {
    height: 410px;
  }
}
@media (max-width: 1350px) {
  .cards {
    height: 400px;
  }
}
@media (max-width: 1350px) {
  .content-img img {
    object-fit: fill;
    height: 200px;
  }
}
