.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.25rem;
  max-width: 420px;
  min-width: 300px;
  height: 480px;
  background-color: var(--card-foreground);
  border-radius: 12px;
  box-shadow: 0 1px 8px rgb(187, 187, 187);
}
.cards img {
  width: 100%;
  max-width: 500px;
  max-height: 200px;
  object-fit: scale-down;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

/* Responsive */

@media (max-width: 720px) {
  .cards {
    height: 100%;
  }
}
