@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.animate-fadeIn { animation: fadeIn .2s ease-out; }

.no-scroll {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

/* Responsive */

@media (max-width: 1720px) {

}

@media (max-width: 1120px) {

}

@media (max-width: 720px) {

}

@media (max-width: 420px) {

}
