h3{
  font-size: var(--font-size-subtitle);
}
p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  color: var(--muted-foreground);
  font-size: var(--font-size-xs);
  margin: 0;
}

.card-content{
  padding: 20px;
}
