.container-content{
    width: 100%;
    max-height: 160px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}