p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  color: var(--muted-foreground);
  margin: 0;
}

.card-content{
  padding: 20px;
}

@media (max-width: 720px){
  .card-content{
    padding: auto;
    height: auto;
  }
  p {
  display: block;
  color: var(--muted-foreground);
  margin: 0;
}
}
