.container-card-footer {
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: end;
  gap: 2rem;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}

button {
  width: 120px;
  display: flex;
  gap: 0.75rem;
  cursor: pointer;
  font-weight: bold;
}

svg {
  width: 15px;
}
/* Botones */

.btn-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  padding: 0.75rem;
  border-radius: 12px;
  transition: all 0.15s ease-in-out;
}
.btn-cards:hover {
  background-color: var(--primary-hover);
  color: aliceblue;

  box-shadow: 0 2px 8px rgb(173, 151, 151);
}
.btn-cards:active {
  background-color: var(--primary-active);
}
.btn-cards-git {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--foreground);
  padding: 0.75rem;
  border-radius: 12px;
  color: var(--primary-foreground);
  transition: all 0.15s ease-in-out;
}
.btn-cards-git:hover {
  background-color: var(--foreground-hover);
  box-shadow: 0 2px 8px rgb(173, 151, 151);
}
.btn-cards-git:active {
  background-color: var(--foreground-active);
}

/* Responsive */

@media (max-width: 720px) {
  .container-card-footer {
    position: static;
  }
}
