<!-- <header class="fixed top-0 left-0 right-0 z-10 bg-white">
  <div class="flex justify-center p-8">
    <app-navbar></app-navbar>
  </div>
</header> -->

<!-- Portada -->
<section class="relative min-h-screen container-descripcion
bg-[linear-gradient(to_bottom,rgba(255,255,255,0.4),rgba(255,255,255,100)),url('/assets/img/fondoInicio.jpg')]
bg-cover bg-center
flex-col gap-5 overflow-hidden isolate">
  <app-portada></app-portada>
</section>

<!-- Sobre mi -->
<section class="min-h-screen flex items-center justify-center">
  <app-midescripcion></app-midescripcion>
</section>

<!-- Sección de cartas proyectos -->
<section class="min-h-screen flex flex-col w-full py-24 md:py-32 bg-secundary dark:bg-background">
  <div class="flex justify-center items-center">
    <h2 id="proyectos">Mis proyectos</h2>
  </div>

  <router-outlet></router-outlet>

</section>

<footer class="bg-black sm:py-13">
  <app-footer></app-footer>
</footer>
