svg{
  width: var(--w-);
  height: var(--w-35);
  color: var(--muted-foreground);
}
.text-message{
  color: var(--muted-foreground);
}
.contenedor-portada{
 mask-image: linear-gradient(to right,
      transparent,
      rgb(2, 2, 2) 5%,
      rgb(0, 0, 0) 95%,
      transparent);
}

/* Responsive */

@media (max-width: 1720px) {

}

@media (max-width: 1120px) {

}

@media (max-width: 720px) {

}

@media (max-width: 420px) {

}
