svg{
  color: var(--muted-foreground);
}
.text-message{
  color: var(--muted-foreground);
}
@media (max-width: 420px) {
  .container-descripcion {
    flex-direction: column; /* Apila los elementos en una columna */
  }

  .item {
    font-size: 0.5em; /* Reduce el tamaño de la fuente */
  }

  body {
    font-size: 0.4em; /* Reduce el tamaño de la fuente general del body */
  }

  .menu-contacto,
  .raton {
    display: none;
  }
}
