svg{
  width: var(--w-);
  height: var(--w-35);
  color: var(--muted-foreground);
}
.text-message{
  color: var(--muted-foreground);
}
.contenedor-portada{
 mask-image: linear-gradient(to right,
      transparent,
      rgb(2, 2, 2) 5%,
      rgb(0, 0, 0) 95%,
      transparent);
}
.container-proyects{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.container-proyects h2{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.container-contact{
  width: 90%;
}
.content-contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.content-contact-links{
  display: flex;
  gap: 0.75rem;
}

