.descripcion-contenedor{

}
.imagenes {
  width: 180px;
  height: 180px;
  object-fit: cover;
}
@media (max-width: 700px) {
  .imagenes {
    width: 500px;
    margin-top: 1rem;
  }
  .descripcion {
    padding: 1rem;
    text-align:start;
  }
}

