p{
  padding-left: 1.25rem;
}
.content-app-midescripcion {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12rem;
  justify-content: center;
  align-items: center;
}
.container-my-description {
  display: flex;
  gap: clamp(0.75rem, 2vw, 2rem);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-my-description h1 {
  color: var(--secondary-foreground);
}
.view-proyects-button {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding-inline: 2rem;
  padding-block: 0.85rem;
  box-shadow: 0 2px 2px gray;
  border-radius: 12px;
  background-color: var(--primary);
  font-weight: bold;
  color: aliceblue;
  transition: all 0.15s ease-in;
}
.view-proyects-button:hover {
  box-shadow: 0 4px 8px rgb(185, 185, 185);
  background-color: var(--primary-hover);
}
.button-resolution-small {
  display: none;
}
.my-description {
  display: flex;
  height: 100%;
  min-height: 250px;
  gap: clamp(1rem, 2vw, 4rem);
  justify-content: center;
  align-items: start;
}
.my-description-img img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.container-my-description-my-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1.5rem, 4vw, 10rem);
}
.content-my-description-my-skills {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
.content-my-description-my-skills div{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.container-my-description .app-mishabilidades-movile {
  display: none;
}

/* Responsive */

@media (max-width: 1720px) {
  .button-resolution-high {
    display: none;
  }
  .button-resolution-small {
    display: flex;
  }
}
@media (max-width: 1440px) {
  .content-app-midescripcion a {
    display: none;
  }
}
@media (max-width: 1440px) and (orientation: landscape) {
  .content-app-midescripcion a {
    display: none;
  }
}
@media (max-width: 1120px) {
  .my-description-img img {
    margin-top: 1rem;
    max-width: 600px;
  }
  .container-my-description-my-skills {
    text-align: center;
  }
  .container-my-description-my-skills .app-mishabilidades-pc {
    display: none;
  }
  .container-my-description .app-mishabilidades-movile {
    display: flex;
  }
  .my-description {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .my-description-img img {
    max-width: 200px;
  }
}
