.content-app-midescripcion {
  display: flex;
  flex-direction: column;
  gap: 12rem;
  justify-content: center;
  align-items: center;
}
.container-my-description {
  display: flex;
  gap: clamp(0.75rem, 2vw, 2rem);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-my-description h1 {
  color: var(--secondary-foreground);
}
.button-resolution-small {
  display: none;
}
.my-description {
  display: flex;
  height: 100%;
  min-height: 250px;
  gap: clamp(1rem, 2vw, 4rem);
  justify-content: center;
  align-items: start;
}
.my-description-img img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.container-my-description-my-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1.5rem, 4vw, 10rem);
}
.content-my-description-my-skills {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container-my-description .app-mishabilidades-movile {
  display: none;
}
/* Responsive */

@media (max-width: 1720px) {
  .button-resolution-high {
    display: none;
  }
  .button-resolution-small {
    display: flex;
  }
}

@media (max-width: 1635px) {
}

@media (max-width: 1120px) {
  .my-description-img img {
    margin-top: 1rem;
    max-width: 600px;
  }
  .container-my-description-my-skills{
    text-align: center;
  }
  .container-my-description-my-skills .app-mishabilidades-pc {
    display: none;
  }
  .container-my-description .app-mishabilidades-movile {
    display: flex;
  }
  .my-description {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .my-description-img img {
    max-width: 200px;
  }
}

@media (max-width: 820px) {
  .content-app-midescripcion {
    gap: 4rem;
  }
  .my-description {
    gap: 1rem;
  }
}
@media (max-width: 467px) {
  .content-app-midescripcion a {
    display: none;
  }
}
@media (max-width: 420px) {
}
