<div class="flex flex-col gap-12 justify-center items-center max-w-4xl w-full px-5 text-center">
  <div class="w-full flex flex-col justify-center">
    <h2 class="font-bold mb-10">Sobre mí</h2>
    <div
      class="contenedor-sobre-mi flex flex-col md:flex-row items-center md:items-stretch overflow-hidden max-w-5xl">

      <!-- Imagen izquierda -->
      <div class="w-full md:w-1/2 h-56 md:h-auto">
        <img class="w-full h-full object-contain" src="/assets/img/fotoPerfil.jpeg" alt="Foto de perfil">

      </div>

      <!-- Texto derecha -->
      <div class="w-full md:w-1/2 flex flex-col gap-6 p-5 leading-relaxed text-center md:text-left">
        <h2>Victor Batista Jaldón</h2>
        <p>
          Soy un desarrollador Full Stack apasionado por crear aplicaciones web atractivas, funcionales y centradas en
          el usuario.
        </p>
        <p>
          Mi objetivo es escribir siempre código limpio, eficiente y escalable. Soy un aprendiz constante, siempre
          explorando nuevas tecnologías para seguir mejorando.
        </p>
        <app-mishabilidades></app-mishabilidades>
      </div>
    </div>
  </div>
  <a href="#proyectos" class="inline-flex items-center justify-center
         bg-primary text-primary-foreground
         hover:bg-primary/90
         border border-input
         h-11 rounded-md px-8 mt-3 md:mt-5 gap-4 cursor-pointer">
    Ver mis proyectos
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
      <path fill="#ffffff" d="M11 4v12.175l-5.6-5.6L4 12l8 8l8-8l-1.4-1.425l-5.6 5.6V4z" />
    </svg>
  </a>
</div>
