.contenedor-sobre-mi{
margin-top: 12%;
border-radius: var(--radius-sm);
box-shadow: 0 0px 10px 5px var(--border);
background-color: var(--background);
 mask-image: linear-gradient(to right,
      transparent,
      rgb(2, 2, 2) 1%,
      rgb(0, 0, 0) 99%,
      transparent);
}

.imagenes {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

@media (max-width: 700px) {
  a{
    display: none;
  }
  img{
    width: 260px;
  }
  .descripcion {
    padding: 1rem;
    text-align:start;
  }
}

