h1 {
  display: block;
  font-weight: 800;
  letter-spacing: -0.025em;
}
p{
  font-size: 24px;
}

/* p{
  font-size: var(--font-size-body);
  color: var(--foreground);
  margin-top: calc(var(--spacing-sm) * 3);
} */
@media (max-width: 420px) {
a{
  display: none;
}
}