@import "tailwindcss";
@tailwind utilities;

@layer utilities {
  @keyframes wheel-scroll {
    0% {
      top: 0.5rem;
      opacity: 1;
    }
    100% {
      top: 2rem;
      opacity: 0;
    }
  }

  .animate-wheel {
    animation: wheel-scroll 1.3s infinite;
  }
}
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Inter, sans-serif;
  font-weight: normal;
}
body {
  min-width: 300px;
}

@layer base {
  :root {
    /* Temas de colores */
    --background: hsl(240, 10%, 95%);
    --background-card: hsl(240, 32%, 92%);
    --foreground: hsl(240, 5%, 10%);
    --foreground-hover: hsl(240, 5%, 20%);
    --foreground-active: hsl(240, 3%, 30%);
    --card: hsl(240, 10%, 98%);
    --card-foreground: hsla(0, 0%, 99%, 0.877);
    --popover: hsl(240, 10%, 98%);
    --popover-foreground: hsl(294, 17%, 66%);

    --primary: hsl(262, 80%, 58%);
    --primary-hover: hsl(262, 80%, 50%);
    --primary-active: hsl(262, 78%, 61%);
    --primary-foreground: hsl(0, 0%, 100%);

    --secondary: hsl(240, 5%, 96%);
    --secondary-foreground: hsl(240, 25%, 35%);

    --muted: hsl(240, 5%, 96%);
    --muted-foreground: hsl(240, 4%, 46%);
    --muted-foreground-trasparent: hsla(0, 4%, 83%, 0.5);

    --accent: hsl(34, 92%, 64%);
    --accent-foreground: hsl(0, 0%, 100%);

    --destructive: hsl(0, 84%, 60%);
    --destructive-foreground: hsl(0, 0%, 100%);

    --border: hsl(0, 0%, 90%);
    --input: hsl(240, 6%, 90%);
    --ring: hsl(262, 80%, 58%);

    /* Tama침o de fuentes */
    --font-size-title: 3rem;
    --font-size-title-md: 2.5rem;
    --font-size-title-xs: 2rem;
    --font-size-subtitle: 1.75rem;
    --font-size-subtitle-md: 1.5rem;
    --font-size-subtitle-xs: 1.35rem;
    --font-size-body: 1.25rem;
    --font-size-sm: 1rem;
    --font-size-xs: 0.75rem;
    --font-size-2xs: 0.6rem;

    /* Espaciados */
    --spacing-sm: 0.25rem;
    --spacing-md: 0.5rem;
    --spacing-lg: 1rem;

    /* Radios */
    --radius-sm: 6px;
    --radius-md: 12px;
    --radius-lg: 20px;

    /* Tama침o svgs */
    --w-15: 15px;
    --w-25: 25px;
    --w-35: 35px;
  }

  /**** Terminar de implementar pr칩ximamente ****/
  .dark {
    --background: hsl(240, 10%, 3.9%);
    --foreground: hsl(0, 0%, 98%);
    --card: hsl(240, 10%, 3.9%);
    --card-foreground: hsl(0, 0%, 20%);
    --popover: hsl(240, 10%, 3.9%);
    --popover-foreground: hsl(0, 0%, 98%);

    --primary: hsl(262, 80%, 58%);
    --primary-hover: hsl(262, 80%, 50%);
    --primary-active: hsl(262, 50%, 57%);
    --primary-foreground: hsl(0, 0%, 100%);

    --secondary: hsl(240, 4%, 10%);
    --secondary-foreground: hsl(0, 0%, 98%);

    --muted: hsl(240, 4%, 10%);
    --muted-foreground: hsl(240, 4%, 46%);

    --accent: hsl(340, 80%, 65%);
    --accent-foreground: hsl(0, 0%, 100%);

    --destructive: hsl(0, 62.8%, 30.6%);
    --destructive-foreground: hsl(0, 0%, 98%);

    --border: hsl(240, 4%, 10%);
    --input: hsl(240, 4%, 10%);
    --ring: hsl(262, 80%, 58%);
  }
}

/* Fuentes */
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-stretch: 25% 100%;
  font-style: normal;
}

/* Efectos de secuencias */

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(-45px);
  }
}

@keyframes cambioColorFlecha {
  0% {
    fill: 0% 50%;
  }
  50% {
    fill: 100% 50%;
  }
  100% {
    fill: 0% 50%;
  }
}
@keyframes cambioColorVolver {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes moverFlecha {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20px);
  }
}

/* Animaci칩n de fondo puntos morados */
@keyframes pixelFloat {
  0% {
    transform: translateY(0) scale(0.8);
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-200vh) scale(1);
    opacity: 0;
  }
}

/* CSS General */
h1 {
  font-size: clamp(var(--font-size-subtitle-md), 3vw, var(--font-size-title));
  font-weight: bold;
}
h2 {
  font-size: clamp(var(--font-size-xs), 2vw, var(--font-size-title-xs));
  font-weight: bold;
}
h3 {
  font-size: clamp(var(--font-size-xs), 1.5vw, var(--font-size-subtitle));
  font-weight: bold;
}
h4 {
  font-size: clamp(var(--font-size-xs), 1.5vw, var(--font-size-body));
  font-weight: bold;
}
p {
  font-size: clamp(var(--font-size-2xs), 0.9vw, var(--font-size-sm));
  margin: 0;
}
a {
  font-size: clamp(var(--font-size-2xs), 1vw, var(--font-size-sm));
}
li {
  font-size: clamp(var(--font-size-xs), 0.8vw, var(--font-size-body));
}

/* Containers */

/* app-midescripcion */
.container-content-web {
  background-color: var(--background);
}
.container-app-root {
  display: flex;
  justify-content: center;
  margin-left: clamp(1%, 10vw, 8%);
  margin-right: clamp(1%, 10vw, 8%);
}
.content-web {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
.container-app-midescripcion {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    #e4caec 0%,
    #dac7df 10%,
    #f8dbff 80%,
    var(--background) 100%
  );
  /* background: linear-gradient(
    #ac8db6 0%,
    #d1b0d8 10%,
    #f8dbff 80%,
    var(--background) 100%
  ); */
  padding-right: clamp(3rem, 10vw, 5rem);
  padding-left: clamp(3rem, 10vw, 5rem);
}
.container-proyects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Botones */

.image-card {
  width: 300px;
  height: 150px;
  border-radius: 12px;
}

[appearOnScroll] {
  opacity: 0;
  transform: translateY(-30px);
  transition: all 1s ease-out;
}

.appear-visible {
  opacity: 1;
  transform: translateY(0);
}

/* Responsive */
@media (max-width: 720px) {
  .container-app-midescripcion {
    min-height: auto;
  }
  .container-app-root {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 420px) {
  body {
    margin: 0%;
  }

  .container-app-midescripcion {
    min-height: auto;
  }
}
