:host {
  width: 90%;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.container-app-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin-inline: auto;
}

/* Responsive */


@media (max-width: 1420px) {
  .container-app-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1020px) {
  .container-app-card {
    grid-template-columns: repeat(1, 1fr);
  }
}
