.container-proyect {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-inline: auto;
  background-color: var(--muted-foreground-trasparent);
  border-radius: 12px;
  padding: 0.75rem;
}
.container-button-back {
  width: 100%;
  display: flex;
  margin-left: clamp(0.75rem, 1vw, 5rem);
}
.container-button-back .button-back {
  margin-top: 0.75rem;
}
.button-back {
  max-width: 120px;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: var(--primary-foreground);
  padding: 0.75rem;
  border-radius: 12px;
}
.button-back:hover {
  background-color: var(--primary-hover);
  box-shadow: 1px 1px 2px rgb(173, 151, 151);
  color: aliceblue;
}
.container-content-proyects {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#container-imgs {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 950px;
  overflow: hidden;
  margin-inline: auto;
}
.container-img {
  display: flex;
}
.container-img img {
  border-radius: 12px;
  object-fit: fill;
}
.arrow-left {
  cursor: pointer;
  position: absolute;
  left: 0;
  bottom: 45%;
  padding-left: clamp(0.5rem, 2vw, 1rem);
}
.arrow-left svg {
  width: clamp(30px, 5vw, 45px);
  border: 1px solid rgba(196, 196, 196, 0.25);
  background-color: rgba(196, 196, 196, 0.05);
  padding: 0.5rem;
  border-radius: 50%;
}
.arrow-left svg:hover {
  background-color: rgba(196, 196, 196, 0.25);
}
.arrow-right {
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 45%;
  padding-right: clamp(0.5rem, 2vw, 1rem);
}
.arrow-right svg {
  width: clamp(30px, 5vw, 45px);
  border: 1px solid rgba(196, 196, 196, 0.25);
  background-color: rgba(196, 196, 196, 0.05);
  padding: 0.5rem;
  border-radius: 50%;
}
.arrow-right svg:hover {
  background-color: rgba(196, 196, 196, 0.25);
}
.content-details-proyect {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.content-details-proyect h3 {
  margin-top: 1rem;
}
.content-tech {
  display: flex;
  flex-wrap: wrap;
  padding-left: 2.25rem;
  gap: 1rem;
}
.text-tech {
  background-color: var(--card-foreground);
  color: var(--secondary-foreground);
  border-radius: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-top: 4px;
  font-weight: 600;
}
.content-ol {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  list-style: disc;
  gap: 0.25rem;
}
.content-ol li {
  list-style-position: outside;
}
.content-back-and-git {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-left: 0.75rem;
  margin-bottom: 0.75rem;
}
.btn-git {
  max-width: 101.95px;
  max-height: 43.75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--foreground);
  padding: 0.75rem;
  border-radius: 12px;
  color: var(--primary-foreground);
}
.btn-git:hover {
  translate: 0 -2px;
  background-color: var(--foreground-hover);
  box-shadow: 0 2px 8px rgb(173, 151, 151);
  transition: translate 0.3s ease-in-out;
}
.btn-git:active {
  background-color: var(--foreground-active);
}
.container-video-and-button {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
/* Responsive */

@media (max-width: 1720px) {
}

@media (max-width: 1120px) {
}

@media (max-width: 720px) {
  .arrow-left,
  .arrow-right {
    bottom: 43%;
  }
}

@media (max-width: 420px) {
  .arrow-left,
  .arrow-right {
    bottom: 40%;
  }
}
