label {
  font-size: 20px;
  cursor: pointer;
}

ol {
  list-style-type: disc;
}

p {
  padding: 0;
}

h2 {
  margin-bottom: 0px;
}
h3 {
  margin-block-start: 2%;
  margin-block-end: 1%;
}
.button-carusel-arrow {
  height: calc(var(--spacing) * 12);
  cursor: pointer;
  background-color: var(--muted-foreground-trasparent);
}

.button-carusel-arrow:hover {
  background-color: var(--ring);
  color: aliceblue;
}

.svg-caruselArrow {
  width: 24px;
  height: 24px;
}

.object-contain {
  mask-image: linear-gradient(
    to right,
    transparent,
    rgb(2, 2, 2) 2%,
    rgb(0, 0, 0) 98%,
    transparent
  );
}

@media (max-width: 420px) {
  .contenedor-proyecto {
    height: 90%;
    padding: 0;
  }
  .contenedor-detalles {
    margin: 1.2rem;
  }
  .titulo-detalles {
    font-size: 0.9rem;
    text-align: center;
  }
  .texto-detalles {
    font-size: 0.8rem;
    text-align: center;
  }
  .lista-desordenada {
    text-align: center;
    list-style-position: inside;
  }
  .lista-detalles {
    font-size: 0.8rem;
  }
  .imagenes {
    width: 90%;
    margin: 0.5rem;
  }
  .enlace-git {
    margin: 0.5rem;
    margin-top: 1rem;
    width: 35%;
  }
  .videos {
    width: 90%;
    margin: 0.5rem;
  }
  .svg-caruselArrow {
    width: 16px;
    height: 16px;
  }
  .button-carusel-arrow {
    height: calc(var(--spacing) * 10);
  }
  #arrowCaruselLeft {
    left: calc(var(--spacing) * 4);
  }
  #arrowCaruselRight{
    right: calc(var(--spacing) * 4)
  }
}
